<div class="container my-5">
  <div class="row">
   <h2 class="red-border px-3 pb-1 offset-1 ">会員情報編集</h2>
   </div>
   
   <div class="row my-3">
    <div class="offset-3 col-6">
<%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>

  <h4>性</h4>
  <%= f.text_field :first_name, class: "form-control" %>
  <h4>名</h4>
  <%= f.text_field :last_name, class: "form-control" %>
  <h4>メールアドレス</h4>
  <%= f.text_area :email, class: "form-control" %>
  <h4>郵便番号</h4>
   <%= f.text_field :postcode, class: "form-control" %>
  <h4>住所</h4>
  <%= f.text_field :address, class: "form-control" %>
  <h4>電話番号</h4>
   <%= f.text_field :phone_number, class: "form-control" %>
  <%= f.submit '保存', class: "btn btn-outline-danger" %>

   <% end %>
    </div>


</div>