マイページ
 <p>会員ID</p>
 <p> <%= @customer.id %></p>
 <p>名前</p>
 <p> <%= @customer.first_name %>
 <%= @customer.last_name %></p>
 <p>メールアドレス</p>
 <p><%= @customer.email %></p>
 <p>郵便番号</p>
 <p><%= @customer.postcode %></p>
 <p>住所</p>
 <p><%= @customer.address %></p>
 <p>電話番号</p>
 <p><%= @customer.phone_number %></p>
<%= link_to "編集", edit_customer_path(current_customer) %>