<div class="container my-5">
  <div class="row">
		  <div class="offset-sm-1">
			   <h2 class="red-border px-3 pb-1">　マイページ　</h2>
		  </div>
	 </div>
    <%= flash[:notice] %>
      <div class="row my-3">
		      <div class="offset-sm-3">
			       <strong class="red-border px-3 pb-1">登録情報</strong>
		      </div>
		    </div>

		    <div class="row">
	       <div class="offset-sm-4 col-sm-4">
	         <table class="table table-borderless table-hover">
	           <tr class="brown-border">
              <td>会員ID</td>
               <td> <%= @customer.id %></td>
                </tr>

                <tr>
                <td>名前</td>
                <td><%= @customer.first_name %>
               <%= @customer.last_name %></td>
               </tr>
               
               <tr>
               <td>メールアドレス</td>
               <td><%= @customer.email %></td>
               </tr>
               
               <tr>
               <td>郵便番号</td>
               <td><%= @customer.postcode %></td>
               </tr>
               
               <tr>
               <td>住所</td>
               <td><%= @customer.address %></td>
               </tr>
               
               <tr>
               <td>電話番号</td>
               <td><%= @customer.phone_number %></td>
               </tr>
                </table>
               
              <%= link_to "編集", edit_customer_path(current_customer), class: "btn btn-outline-danger mx-auto my-1" %>
              <%= link_to "注文一覧を見る", orders_path, class: "btn btn-outline-danger mx-auto my-1" %>
               </div>
                </div>
                 </div>