<div class="container">
  <div class="row">
    <div class="col-8">
      <p><span class="bg-lights">
        商品編集
      </span>

      <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <th>商品画像</th>
            <td><%= f.file_field :image, multiple: true, accept: "image/*", class: "form-control-file" %></td>
          </tr>

          <tr>
            <th>商品名</th>
            <td><%= f.text_field :name,class:"form-control name",style:"width:300px"  %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= f.text_area :description,class:"form-control description",style:"width:300px" %></td>
          </tr>

          <tr>
            <th>ジャンル</th>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択してください"}, :class => 'form-control', :id => 'genre_id',style:"width:300px"   %></td>
          </tr>

          <tr>
            <th>税抜価格</th>
            <td><%= f.text_field :price,class:"form-control price",style:"width:300px"  %></td>
          </tr>

          <tr>
            <th>販売ステータス</th>
            <td>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active, "販売中" %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "販売停止中" %>
            </td>
          </tr>
        </table>
        　　<p><%= f.submit '保存',class:"btn btn-outline-danger"  %></p>
    　　<% end %>
    </div>
  </div>
</div>