<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>配送先編集</h2>
    </div>
  </div>
  <%= form_with model: @shopping_address,url: shopping_address_path(@shopping_address.id),local:true  do |f| %>

  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
            <td><%= f.text_field :postcode, placeholder: "0000000" %></td>
          </tr>

          <tr>
            <th><%= f.label :address, "住所" %></th>
            <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0"%></td>
          </tr>

          <tr>
            <th><%= f.label :name, "宛名" %></th>
            <td><%= f.text_field :name, placeholder: "令和道子" %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "変更内容を保存", class:"btn btn-sm btn-success" %>
    </div>
   
  </div>
  <% end %>
 </div>