<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>配送先登録/一覧</h2>
      <% if @shopping_address.errors.any? %>
      <%= @shopping_address.errors.count %>件のエラーが発生しました
      <ul>
      <% @shopping_address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
  </div>

<%= form_with model: @shopping_address, url: shopping_addresses_path do |f| %>
 <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
           <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
           <td><%= f.text_field :postcode, placeholder: "0000000" %></td>
          </tr>
          <tr>
            <th><%= f.label :address, "住所" %></th>
            <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
          </tr>
          <tr>
            <th><%= f.label :name, "宛名" %></th>
            <td><%= f.text_field :name, placeholder: "令和道子" %></td>
           </tr>
        </tbody>
      </table>
    </div>
     </div>
<%= f.submit "新規登録", class:"btn btn-sm btn-success" %>

 <% end %>
   <table class="table table-bordered">
    <thead>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </thead>
    <tbody>
      <% @shopping_addresses.each do |shopping_address| %>
        <tr>
          <td><%= shopping_address.postcode %></td>
          <td><%= shopping_address.address %></td>
          <td><%= shopping_address.name %></td>
          <td>
            <%= link_to "編集する", edit_shopping_address_path(shopping_address.id), class:"btn btn-sm btn-success" %>
            <%= link_to "削除する", shopping_address_path(shopping_address.id), method: :delete, class:"btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
   </tbody>
  </table>
</div>