<h2>配送先登録/一覧</h2>
<%= form_with model: @shopping_address, url: shopping_addresses_path do |f| %>
<%= f.label :postcode, "郵便番号(ハイフンなし)" %>
<%= f.text_field :postcode, placeholder: "0000000" %></br>

<%= f.label :address, "住所" %>
<%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></br>

<%= f.label :name, "宛名" %>
<%= f.text_field :name, placeholder: "令和道子" %></br>

<%= f.submit "新規登録", class:"btn btn-sm btn-success" %>

 <% end %>

  <% @shopping_addresses.each do |shopping_address| %>
  <%= shopping_address.postcode %>
  <%= shopping_address.address %>
  <%= shopping_address.name %>
  <%= link_to "編集する", edit_shopping_address_path(shopping_address.id), class:"btn btn-sm btn-success" %>
   <%= link_to "削除する", shopping_address_path(shopping_address.id), method: :delete, class:"btn btn-sm btn-danger" %>
  <% end %>