 <h4>ジャンル検索</h4>
<% @genres.each do |genre| %>
<%= link_to genre.name,items_path(genre_id: genre.id)%>
<% end %>

<h1><%= @title %>一覧</h1>

 <% @items.each do |item| %>
   <%= image_tag item.image ,size: "200x200" %>
  <%= link_to item.name, item_path(item.id)  %>
  <span><%= item.description %></span>
   ￥<%= item.price %>
    <span><% if item.is_active %>
 <p>販売中</p>
 <% else %>
 <p>販売停止中</p>
 <% end %>
 </span>
  <% end %>