<div class="container  px-8 px-sm-8">
  <div class="row">
    <div class="col-2  mt-2 pt-2">
      <div style="border: double;">
        <div style="text-align: center">
          <h4>ジャンル検索</h4>
        </div>

          <% @genres.each do |genre| %>
            <div style="text-align: center">
              <p><%= link_to genre.name,items_path(genre_id: genre.id)%></p>
             </div>
          <% end %>
      </div>
    </div>

    <div class="col-8 mt-2 pt-2 offset-md-2">
         <% if @item.image.attached? %>
         <% @item.image.each do |image| %>
         <%= image_tag image ,size: "300x300" %>
         <% end %>
         <% end %>
        <p><%= @item.name %></p>
        <p><%= @item.description %></p>
        <p>￥<%= @item.add_tax_price.to_s(:delimited) %> (税込)</p>
        <span><% if @item.is_active %>
        <p>販売中</p>
        <% else %>
        <p>販売停止中</p>
        <% end %>
        </span>
        <p>発売日：<%= @item.created_at.strftime('%Y/%m/%d') %></p>

        <% if customer_signed_in? %>
        <%= form_with model: @cart_item,url: cart_items_path do |f| %>

        <%= f.hidden_field :item_id, value: @item.id%>
        <p><%= f.select :amount, *[1..9] %></p>
        <p><%= f.submit "カートに入れる",class:"btn btn-outline-danger"  %></p>
        <% end %>
        <% end %>

        <% if current_customer != @item.customer %>
        <div class="recipe-like">
        <% if @item.liked_by(current_customer).blank? %>
        <%= link_to "お気に入りに保存", item_likes_path(@item), method: :post, class: "btn btn-success btn-sm" %>
        <% else %>
        <%= link_to "お気に入り登録済み", item_like_path(@item,@item.liked_by(current_customer)), method: :delete, class: "btn btn-outline-success btn-sm" %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>