<!DOCTYPE html>
<html>
  <head>
    <title>BaseballFirst</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white pt-5 pb-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <% if customer_signed_in? %>
                <li class="nav-item offset-1">
                  <h1><%= link_to "LOGO", root_path %></h1>
                </li>


                <li class="nav-item pull-left offset-1">
                  <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word, placeholder: "検索ワードを入力してください",  size: 50 %>
                  <%= f.select :range, options_for_select([['商品']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "🔍", class: "btn btn-primary" %>
                <% end %>
                </li>


                 <li class="nav-item">
                  <i class="fas fa-shopping-bag"></i>
                  <%= link_to "購入履歴", orders_path %>
                </li>
                <li class="nav-item">
                  <i class="fas fa-thumbs-up"></i>
                  <%= link_to "お気に入り", like_customer_path(current_customer) %>
                </li>

                <li class="nav-item">
                  <i class="fas fa-store-alt"></i>
                  <%= link_to "商品一覧", items_path %>
                </li>
                <li class="nav-item">
                  <i class="fas fa-shopping-cart"></i>
                  <%= link_to "カート", cart_items_path %>
                </li>

                <li class="nav-item">
                   <i class="fas fa-user"></i>
                  <%= link_to "マイページ", customer_path(current_customer) %>
                </li>
                <li class="nav-item">
                <i class="fas fa-truck-moving"></i>
                  <%= link_to "配送先", shopping_addresses_path %>
                 </li>

                <li class="nav-item">
                  <i class="fas fa-sign-out-alt"></i>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                </li>

             <% elsif admin_signed_in? %>
               <li class="nav-item">
                 <i class="fas fa-running"></i>
                 <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
               </li>
               <li class="nav-item">
                 <%= link_to "商品投稿", new_admin_item_path %>
               </li>
               <li class="nav-item">
                 <%= link_to "商品一覧", admin_items_path %>
               </li>
               <li class="nav-item">
                 <%= link_to "ジャンル", admin_genres_path %>
               </li>
               <li class="nav-item">
                 <%= link_to "会員一覧", admin_customers_path %>
               </li>

             <% else %>
                <li class="nav-item">
                  <i class="fas fa-laptop-house"></i>
                  <%= link_to "TOP", root_path %>
               </li>
               <li class="nav-item">
                 <i class="fas fa-user-plus"></i>
                 <%= link_to "新規登録", new_customer_registration_path %>
               </li>
               <li class="nav-item">
                 <i class="fas fa-sign-in-alt"></i>
                 <%= link_to "ログイン", new_customer_session_path %>
               </li>
             <% end %>
           </div>
         </nav>
      </header>
    <%= yield %>
      <footer class=" navbar-dark bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p></p>
            <%#= image_tag('logo-white.png') %>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
